[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }
  </style>


<div class="section" id="app" v-cloak>
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <textarea class="textarea" placeholder="Hello world" rows="10" id="post-input"  v-model="potential_post"></textarea>
        <button class="button is-success" id="post-button" @click="make_post()">Post</button>

        <div class="post" v-for="post in posts" :key="post.post_id">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <p class="post-content">{{post.content}}</p>
                <p>Made by {{post.user_email}} on {{post.timestamp}}</p>
              </div>
            </div>
            <div class="media-right"><button class="delete-button has-text-danger fa-solid fa-trash-can trash" @click="delete_post()">Delete</button></div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="tag-list">
          <button class="tag" :class="{ 'is-success': tag.toggle }" v-for="tag in tags" :key="tag.name" @click="filterBy(tag)">{{tag.name}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  let get_home_url = "[[=XML(get_home_url)]]";
</script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="js/index.js"></script>
[[end]]
